# Django-related
*.pyc
*.pyo
__pycache__/
db.sqlite3  # Ignore if you're using SQLite for local development

# Virtual Environment
venv/
env/

# Secrets
*.env
.env

# Static/Media files
staticfiles/
media/

# Editor/IDE specific
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db
