<!DOCTYPE html>
<html lang="en">
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<script src="{% static 'js/main.js' %}" defer></script>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}Home Page{%endblock%}</title>
</head>
<body>
    <nav>
        <a href="/homePage">Home 🏠</a> | <a href="/logout">Logout ⬇️</a>
    </nav>
    <main>
        {%block content%}
        <h2>What's up home page users!</h2>
        {%endblock%}
    </main>
</body>
</html>